$primary: #001C64;
$secondary: #09090A;
//@import '../sass/vendors/bootstrap.scss';
$footer-igradient: #080809;
$footer-fgradient: #0C101A;
$white-txt: #FFFFFF;
$hover-txt-white: #e6d7d7;
$basic-padding: 1rem;
$white-secondary: #e5e5e5;